@model IEnumerable<Imobiliaria.Models.Imovel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <form asp-action="Index" method="get">
        <div class="col-md-4 py-2">
            <div class="form-group">
                <label class="control-label">Pesquisar</label>
                <input name="searchString" class="form-control" placeholder="Informe o tipo do imóvel..." />
            </div>
        </div>
        <input type="submit" value="Pesquisar" class="btn btn-primary" />
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
